<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <p>This weather page is created by Syed neman, it takes the co ordinates and displays the city name</p>
    <img class="portrait" src="./img/Screenshot_1616489373.png">
    </div>
    {{>footer}}
  </body>
</html>
